<?xml version="1.0"?>
<xacro xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415927"/>

  <xacro:macro name="apriltag_panel" params="ns y_offset">
    <link name="${ns}/apriltag_panel">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0000375" ixy="0" ixz="0" iyy="0.0000375" iyz="0" izz="0.00007500"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.15 0.15 0.001"/>
        </geometry>

        <material name="apriltag">
          <!-- Replace the following with the correct path to your PNG file -->
          <texture filename="package://bluerov2_description/materials/textures/tag36_11_00038.png"/>
          <color rgba="1 1 1 1"/>
        </material>
        
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.15 0.15 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${ns}/apriltag_panel_joint" type="fixed">
      <parent link="${ns}/base_link"/>
      <child link="${ns}/apriltag_panel"/>
      <origin xyz="0 ${y_offset} 0" rpy="${PI/2} 0 0"/>
    </joint>
  </xacro:macro>
</xacro>
